{% extends "layout.html" %}
{% block title %}
Sign In | Thoksaman.com
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container mt-3 mb-3">

        {{ include('partials/flash.html') }}

    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="title mb-2">Change Password</h2>
                
            <form action="{{ path_for('auth.password.change') }}" method="POST" autocomplete="off" novalidate class="mb-1">
                <label for="password_old">Old Password <span class="required">*</span></label>
                <input type="password" name="password_old" class="form-control form-wide {{ errors.password_old ? 'is-invalid' : 'mb-2' }}" id="password_old"  value="" />
                {% if errors.password_old %}
                    <div class="invalid-feedback mb-2">
                        {{ errors.password_old | first }}
                    </div>
                {% endif %}
                
                <label for="password">Password <span class="required">*</span></label>
                <input type="password" name="password" class="form-control form-wide {{ errors.password ? 'is-invalid' : 'mb-2' }}" id="password"  value="" />
                {% if errors.password %}
                    <div class="invalid-feedback mb-2">
                        {{ errors.password | first }}
                    </div>
                {% endif %}

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-md">CHANGE PASSWORD</button>



                    <div class="custom-control  form-footer-right">
                        <a href="/account/dashboard">&laquo; My Account</a>
                    </div>
                </div><!-- End .form-footer -->

                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
{{ parent() }}
{% endblock %}