{% extends "layout.html" %}
{% block title %}
Sign In | Thoksaman.com
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container mt-3 mb-3">

        {{ include('partials/flash.html') }}

    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="title mb-2">Sign Up</h2>
                
            <form action="{{ path_for('auth.signup') }}" method="POST" autocomplete="off" novalidate class="mb-1">

              <label for="name">Full Name <span class="required">*</span></label>
              <input type="name" name="name" class="form-control form-wide {{ errors.name ? 'is-invalid' : 'mb-2' }}" id="name" value="{{ old.name }}" />
              {% if errors.name %}
                  <div class="invalid-feedback mb-2">
                      {{ errors.name | first }}
                  </div>
              {% endif %}

                <label for="email">Email address <span class="required">*</span></label>
                <input type="email" name="email" class="form-control form-wide {{ errors.email ? 'is-invalid' : 'mb-2' }}" id="email" value="{{ old.email }}" />
                {% if errors.email %}
                    <div class="invalid-feedback mb-2">
                        {{ errors.email | first }}
                    </div>
                {% endif %}

                <label for="password">Password <span class="required">*</span></label>
                <input type="password" name="password" class="form-control form-wide {{ errors.password ? 'is-invalid' : 'mb-2' }}" id="password"  value="" />
                {% if errors.password %}
                    <div class="invalid-feedback mb-2">
                        {{ errors.password | first }}
                    </div>
                {% endif %}

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-md">LOGIN</button>

                    <div class="custom-control custom-checkbox form-footer-right">
                        <input type="checkbox" class="custom-control-input" id="lost-password">
                        <label class="custom-control-label form-footer-right" for="lost-password">Remember Me</label>
                    </div>
                </div><!-- End .form-footer -->
                <a href="#" class="forget-password"> Forgot your password?</a>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
{{ parent() }}
{% endblock %}