{% extends "layout.html" %}
{% block title %}
Sign In | Thoksaman.com
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </div><!-- End .container -->
</nav>


<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-lg-last dashboard-content">
        {{ include('partials/flash.html') }}
        <h2>Edit Account Information</h2>

        <form action="{{ path_for('account.info') }}" method="POST">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group" style="font-weight: bold">
                <label for="email">Email:</label>
                {{auth.user.email}}
              </div><!-- End .form-group -->

              <label for="name">Full Name <span class="required">*</span></label>
              <input type="name" name="name" class="form-control form-wide {{ errors.name ? 'is-invalid' : 'mb-2' }}"
                id="name" value="{{auth.user.name}}" />
              {% if errors.name %}
              <div class="invalid-feedback mb-2">
                {{ errors.name | first }}
              </div>
              {% endif %}
            </div>
            <div class="col-md-3" style="text-align: center">
              {% if auth.user.logo|length > 4 %}
              {% set logo = "/uploads/logos/" ~ auth.user.logo %}
              {% else %}
              {% set logo = "/assets/images/logo_placeholder.jpg" %}
              {% endif %}
              <img src="{{logo}}" style="width:60%; margin: 0 auto; cursor: pointer" id="logoImage" />
              <small><em>Click to Add/Change</em></small>
              <input type="file" name="logo" id="logo" style="display: none" accept="image/x-png,image/gif,image/jpeg"  />
            </div>
          </div>


          <div class="checkout-discount">
            <h4>
              <a data-toggle="collapse" href="#address-section" class="collapsed" role="button" aria-expanded="false"
                aria-controls="address-section" style="color: green">Set Shipping & Billing Address</a>
            </h4>

            <div class="collapse" id="address-section">
              <div class="row">
                <div class="col-md-6">
                  <strong>Billing info</strong>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{auth.user.address}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" value="{{auth.user.city}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" value="{{auth.user.state}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="postal_code">Postal Code</label>
                    <input type="text" class="form-control" id="postal_code" name="postal_code" value="{{auth.user.postal_code}}">
                  </div><!-- End .form-group -->

                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" value="{{auth.user.country}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{auth.user.phone}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="fax">Fax</label>
                    <input type="text" class="form-control" id="fax" name="fax" value="{{auth.user.fax}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" name="url" value="{{auth.user.url}}">
                  </div><!-- End .form-group -->

                </div>
                <div class="col-md-6">
                  <strong>Shipping info <span id="sameas" style="color:green; cursor: pointer">Same as Billing info</span></strong>
                  <div class="form-group required-field">
                    <label for="shipping_address">Address</label>
                    <input type="text" class="form-control" id="shipping_address" name="shipping_address" value="{{auth.user.shipping_address}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="shipping_city">City</label>
                    <input type="text" class="form-control" id="shipping_city" name="shipping_city" value="{{auth.user.shipping_city}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="shipping_state">State</label>
                    <input type="text" class="form-control" id="shipping_state" name="shipping_state" value="{{auth.user.shipping_state}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="shipping_postal_code">Postal Code</label>
                    <input type="text" class="form-control" id="shipping_postal_code" name="shipping_postal_code" value="{{auth.user.shipping_postal_code}}">
                  </div><!-- End .form-group -->

                  <div class="form-group">
                    <label for="shipping_country">Country</label>
                    <input type="text" class="form-control" id="shipping_country" name="shipping_country" value="{{auth.user.shipping_country}}">
                  </div><!-- End .form-group -->
                  <div class="form-group">
                    <label for="shipping_phone">Phone</label>
                    <input type="text" class="form-control" id="shipping_phone" name="shipping_phone" value="{{auth.user.shipping_phone}}">
                  </div><!-- End .form-group -->
                </div>
              </div>
            </div><!-- End .collapse -->
          </div><!-- End .checkout-discount -->

          <div class="checkout-discount">
            <h4>
              <a data-toggle="collapse" href="#merchant-info-section" class="collapsed" role="button" aria-expanded="false"
                aria-controls="checkout-discount-section" style="color: green">Additional Info for Merchants</a>
            </h4>

            <div class="collapse" id="merchant-info-section">
              <div class="form-group">
                <label for="company_name">Company Name</label>
                <input type="company_name" class="form-control" id="company_name" name="company_name" value="{{auth.user.company_name}}">
              </div><!-- End .form-group -->
              <div class="row">
                <div class="col-md-6" style="border-right: 1px solid #ccc">
                  <strong>Payment Methods {{auth.user.payment_methods}}</strong>
                  <div class="form-group-custom-control">

                    {% for pm in available_payment_methods %}

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="payment_methods[]" value="{{pm.id}}" class="custom-control-input" id="payment_method_{{pm.id}}"
                        {{ pm.id in auth.user.payment_methods ? 'checked' : '' }}>
                      <label class="custom-control-label" for="payment_method_{{pm.id}}">{{pm.payment_method}}</label>
                    </div><!-- End .custom-checkbox -->
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <strong>Bank Info</strong>
                  <textarea class="form-control" name="bank_info" id="bank_info">{{auth.user.bank_info}}</textarea>
                </div>
              </div><!-- End .row -->
              <div class="form-group">
                <strong>Short Company Description</strong>
                <textarea class="form-control" name="description" id="description">{{auth.user.description}}</textarea>
              </div>

                

            </div><!-- End .collapse -->
          </div><!-- End .checkout-discount -->


          <div class="form-footer">

            <div class="form-footer-right">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div><!-- End .form-footer -->
          {{ csrf.field | raw }}
        </form>
      </div><!-- End .col-lg-9 -->

      <aside class="sidebar col-lg-3">
        <div class="widget widget-dashboard">
          <h3 class="widget-title">My Account</h3>

          <ul class="list">
            {{ include('account/sidebar.html') }}
          </ul>
        </div><!-- End .widget -->
      </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .container -->

<div class="mb-5"></div><!-- margin -->
{% endblock %}

{% block foot %}
{{ parent() }}
<script>
  $(document).ready(function () {
    var id = "{{ auth.user.id}}";
      
    $('#sameas').on('click', function () {
      $('#shipping_address').val($('#address').val());
      $('#shipping_city').val($('#city').val());
      $('#shipping_state').val($('#state').val());
      $('#shipping_country').val($('#country').val());
      $('#shipping_phone').val($('#phone').val());
      $('#shipping_postal_code').val($('#postal_code').val());
    });

    $('#logoImage').on('click', function() {
        $('#logo').click();
    });

    $('#logo').on('change', function(e) {
      
      var file = document.getElementById('logo').files[0];
      var logo = document.getElementById('logoImage');
      var filename = file.name;
      var reader = new FileReader();
      reader.onload = function(e) {
        
        imageDataURL = e.target.result;
        
        var image = new Image();
        image.src = imageDataURL;
        console.log(image);
        image.onload = function (imageEvent) {
          console.log('iii');
            // Resize the image
            var canvas = document.createElement('canvas'),
                max_size = 300,
                width = image.width,
                height = image.height;
            if (width > height) {
                if (width > max_size) {
                    height *= max_size / width;
                    width = max_size;
                }
            } else {
                if (height > max_size) {
                    width *= max_size / height;
                    height = max_size;
                }
            }
            canvas.width = width;
            canvas.height = height;
            canvas.getContext('2d').drawImage(image, 0, 0, width, height);
            var dataUrl = canvas.toDataURL('image/jpeg');
            console.log(dataUrl);
            $.post('http://localhost:8080/account/uploadlogo', {imageDataURL: dataUrl, filename: filename, id: +id}, function(response){ 
              if(response) {
                logo.src = dataUrl;
              } else {
                alert('Unable to upload file.')
              }
              
            });
        }
        
      }
      reader.readAsDataURL(file);
    });
  });
</script>
{% endblock %}